      <footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                &copy; <a href="https://123kif.ir" class="text-muted" target="_blank">طراحی و برنامه نویسی: تیم توسعه رایان فرید</a>
              </div>
            </div>
          </div>
        </div>
      </footer>