{% extends 'layouts/base-rtl.html' %}
{% load static %}

  {% block title %}تحلیل جدید{% endblock %}
  {% block stylesheets %}
  <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="{% static 'css/analys/new.css' %}">
  {% endblock stylesheets %} 
  {% block content %}
  <button type="button" class="start_select_material create-table-btn">افزودن ماده اولیه و شروع تحلیل</button>
  <div id="table-container">
  </div>
  {% block scripts %}
  <script src="{% static 'js/analys/new.js' %}"></script>
{% endblock scripts %}
{% endblock content %}