{% extends 'layouts/base-rtl.html' %}
{% load static %}

  {% block title %}تحلیل جدید{% endblock %}
  {% block stylesheets %}
  <script src="{% static 'js/jquery/jquery-3.6.0.min.js' %}"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="{% static 'css/analys/new.css' %}">
  {% endblock stylesheets %} 
  {% block content %}
<div id="table-container"> </div>
<button id="create-table-btn" onclick="createTable()">برای شروع ماده اولیه ای انتخاب کنید</button>
<button id="add-row-btn" onclick="selectMaterial()" style="display:none;">افزودن ماده اولیه</button>
<button id="save-data-btn" onclick="saveData()" style="display:none;">ذخیره تحلیل</button>
  </div>
  {% block scripts %}
  <script src="{% static 'js/analys/new.js' %}"></script>
{% endblock scripts %}
{% endblock content %}